<div class="container">
    <div class="card">
        <div class="card-header">
            Invoice
            <strong>{{order_id}}</strong>
            <span class="float-right"> <strong>Status:</strong> {{status}}</span>

        </div>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-sm-6">
                    <h6 class="mb-3">From:</h6>
                    {{#company}}
                        <div>
                            <strong>{{name}}</strong>
                        </div>
                        <div>{{address}}</div>
                        <div>Email: {{email}}</div>
                        <div>Phone: {{phone}}</div>
                    {{/company}}
                </div>

                <div class="col-sm-6">
                    <h6 class="mb-3">To:</h6>
                    {{#buyer}}
                        <div>
                            <strong>{{name}}</strong>
                        </div>
                        <div>{{address}}</div>
                        <div>Email: {{email}}</div>
                        <div>Phone: {{phone}}</div>
                    {{/buyer}}
                </div>


            </div>
            {{#order}}
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="center">#</th>
                            <th>Item</th>
                            <th>Description</th>

                            <th class="right">Unit Cost (in ₹)</th>
                            <th class="center">GST (in ₹)</th>
                            <th class="center">Qty</th>
                            <th class="right">Total (in ₹)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each products}}
                            <tr>
                                <td class="center">{{@index}} + 1</td>
                                <td class="left strong">{{name}}</td>
                                <td class="left">{{base_quantity}}</td>

                                <td class="right">{{amount}}</td>
                                <td class="center">{{gst}}</td>
                                <td class="center">{{quantity}}</td>
                                <td class="right">{{total}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-5">

                    </div>

                    <div class="col-lg-4 col-sm-5 ml-auto">
                        <table class="table table-clear">
                            <tbody>
                            <tr>
                                <td class="left">
                                    <strong>Total</strong>
                                </td>
                                <td class="right">
                                    <strong>{{total_amount}} + ₹</strong>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            {{/order}}
        </div>
    </div>
</div>
